.gitdiv {
  width: 100%;
  text-align: center;
  height: auto;
  margin: auto;
  color: #00758f;
  font-family: "Rubik Distressed";

}
.calendar {
  width: 60%;
  height: auto;
  margin: auto;

  align-items: center;
  text-align: center;
}
.calendar img{
  width: 70%;

  height: 200px;
}
#langimg{
  width: 100%;
  height: 400px;
}
@media screen and (max-width: 940px) {
  .calendar {
    width: 70%;
 
    height: auto;
    margin: auto;
    margin-top: 30px;
    align-items: center;
    text-align: center;
  }
  .calendar img{
    width: 70%;
 
    height: 150px;
  }
  #langimg{
    width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 700px) {
  .calendar {
    width: 90%;
  
    height: auto;
    margin: auto;
  
    align-items: center;
    text-align: center;
  }
  .gitdiv{
    width: 100%;
    text-align: center;
    height: auto;
    margin: auto;
    font-family: "Rubik Distressed";
    color: brown;
    background-color: #edf2f8;
    font-size: smaller;
  }

  
  .calendar img{
    width: 70%;
 
    height: 150px;
  }
  #langimg{
    width: 100%;
    height: 220px;
  }


}
@media screen and (max-width: 440px) {
  .calendar {
    width: 90%;
  
    height: auto;
    margin: auto;
  
    align-items: center;
    text-align: center;
  }
  .gitdiv{
    width: 100%;
    text-align: center;
    height: auto;
    margin: auto;
    font-family: "Rubik Distressed";
    color: brown;
    background-color: #edf2f8;
    font-size: smaller;
  }

  
  .calendar img{
    width: 70%;

    height: 100px;
  }
  #langimg{
    width: 100%;
    height: 200px;
  }












}